# Python
.venv/
__pycache__/
*.pyc
backend/media/
backend/staticfiles/
backend/db.sqlite3
.env

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.iml
*.keystore
android/app/google-services.json

.DS_Store
